html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

section:nth-child(odd) {
  background: #cccc;
}

section:before {
  content: attr(data-text) " ";
  color: #262626;
  font-size: 6em;
  text-transform: uppercase;
  font-weight: bold;
}

#img-home {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
}
